.venv/
.idea/
.DS_Store
.env
.env.*
build/
dist/
*.spec
*.egg-info/
__pycache__/
*.pyc
songs/
download_results.json
*.mp3
*.m4a
*.webm
*.part
*.ytdl
crash_reports/
YouTubeMediaStudioData/
YouTubeMediaStudio.storage.json
config/albums.json
config/jukeboxes.json
config/songs.json
config/songs_retag.json
config/timestamps.txt
config/videos.json
